<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup : </h1>
    <form action="/user/register" method="post">
        <input type="text" placeholder="Enter your username" name="username">
        <input type="text" placeholder="Enter your password" name="password">
        <select name="role" default="User">
            <option value="User" default>User</option>
            <option value="Admin">Admin</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>